/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit; /* herdar o valor da propriedade do elemento pai */
    font-weight: bold;
}
header ul {
    display:block;
}

header ul li {
    display: inline-block;
}

header img {
border-radius: 50%;
border: 1px solid red;
transition: all 0.8s ease-in-out;
}

header img:hover {
    border-radius: 0;
}

article.nivel-dois {
    display: inline-block;
    width: 45%;
    margin: 20px;
    padding: 10px;
}

ul li ul {
    list-style: none;
}

ol,
ul[type="circle"] {
    /* border:2px solid black; */
    padding-left: 20px;
}

.case {
    border: 1px solid lightblue;
    width: 50%;
    display: inline-block;
}
.case > img {
    width: 100%;

}

.case button {
    background-color: rgb(19, 17, 146);
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    margin: 10px auto;
    display: block;
}